<% include header.ejs %>
<header id="main-header">
  <div class="container_16">


      <a id="link-about"  class="grid_4" href="/">Back to Stylify »</a>
  </div>
</header>
<div id="main-holder" class="container_16">
  <div class="grid_16">
    <h2>About Stylify</h2>    

    <p>Stylify was created to help designers quickly gain an overview of the style guide of a site, including colours, fonts, sizing and spacing.</p>

    <p>This tool allows the designer to research sites efficiently without the need to inspect each element, in order to be aware of current design trends and inform their own design decisions.</p>

    <p>If you found Stylify useful and want to show some love, feel free to donate</p>
     
    <p>Created by <a href="https://twitter.com/annabelleyoon">@annabelleyoon</a> and <a href="https://twitter.com/MicMro">@MicMro</a></p>


  </div>
</div>

<% include footer.ejs %>
