
<footer id="main-footer">
  <div class="container_16">
	 <div class="grid_14">
		Version 1.0 Created by <a href="https://twitter.com/annabelleyoon">@annabelleyoon</a> and Michael Mrowetz(<a href="https://twitter.com/MicMro">Twitter</a>/<a href="https://github.com/micmro">github</a>)
	 </div> 
	</div>
</footer>

</body>
</html>