
<footer id="main-footer">
  <div class="container_16">
    <div class="grid_14">
      Version 1.0 Created by <a href="https://twitter.com/annabelleyoon">@annabelleyoon</a> and Michael Mrowetz(<a href="https://twitter.com/MicMro">Twitter</a>/<a href="https://github.com/micmro">github</a>)
    </div> 
    <a href="#main-header" id="link-back-to-top" class="grid_2 func_back-to-top">Back to top<i>»</i></a>
    
    <div id="second-row">
      <div class="grid_2"><div class="fb-like" data-send="false" data-href="http://stylify.herokuapp.com" data-layout="button_count" data-width="100" data-show-faces="true" data-font="arial"></div>

      </div></div>
      <div class="grid_2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://stylify.herokuapp.com" data-text="Quickly create a style guide of an existing site with Stylify Me">Tweet</a></div>
      <!--code with protection for paypal button-->

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCOvZEl7GkI9BpedqJaRpiyVZEQUPhKZsrKA3rxLGpVBftsTy8ijkSgvFyr9hqYCVwZIITwTrEiVYf/9SdxKodb3O+avSDG/50Y7PaXGpyTBOgobUXuh2I5nMqBE/k08d2MJyeVzmSBuHZdMh0Ozbe8C4i88e7jaDz4s9MY7FweyDELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIYHxONM3BmZKAgYh3ONcXxjcAzLz8ErApfJ252+tD4G2F/0lpgdJToo/Q+uDPFjFhe4F1ZI5THrxSoiT860K3NO/6MsnHHut4KABAejL8ta0FxBmvtopgPP5E4oc4W9Yc7ZW3DmOsySKaHzNLiXxHCE9lxcpHNuUhdqzRI6BQkx3swSDlJO9+rwwfFKQpXKh0TQMsoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMwNDA1MTYxMjI2WjAjBgkqhkiG9w0BCQQxFgQUQXUbhukWD8QJZ0VikjCFMDSt6ogwDQYJKoZIhvcNAQEBBQAEgYAPH74lFm11SI0NYv7UXONYDDseBUCxPMLxZBDod8o7m5lnbLckUXh7hLgw3wB47+xkdefrV7IUHgCa9ye/++iteO8lovjUzW8AC3obPPrqupy7p2w+sQh8gSN7M9zfEDxs0nmTmQeLzkH4R+8snSYn42xD7NyXu+fmidRjZNqZCw==-----END PKCS7-----
        ">
        <button class="text-button grid_3">Buy us a beer »</button>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    <div>
    
  <div>
</footer>
<div id="loadingOverlay" class="hide">
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="javascripts/jquery-1.9.1.min.js"><\/script>')</script>
<script src="javascripts/stylify.js"></script>
<div id="fb-root"></div>
<script src="//connect.facebook.net/en_GB/all.js#xfbml=1&appId=507703755933652"></script>
<script src="//platform.twitter.com/widgets.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39044475-1']);
  _gaq.push(['_setDomainName', 'herokuapp.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);


    FB.Event.subscribe('edge.create', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'like', targetUrl]);
    });
    FB.Event.subscribe('edge.remove', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'unlike', targetUrl]);
    });
    FB.Event.subscribe('message.send', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'send', targetUrl]);
    });

     function trackTwitter(intent_event) {
      if (intent_event) {
        var opt_pagePath;
        if (intent_event.target && intent_event.target.nodeName == 'IFRAME') {
              opt_target = extractParamFromUri(intent_event.target.src, 'url');
        }
        _gaq.push(['_trackSocial', 'twitter', 'tweet', opt_pagePath]);
      }
    }

    //Wrap event bindings - Wait for async js to load
    twttr.ready(function (twttr) {
      //event bindings
      twttr.events.bind('tweet', trackTwitter);
    });

  })();

</script>
</body>
</html>