
<footer id="main-footer">
  <div class="container_16">
    <div class="grid_14">
      Version 1.0 Created by <a href="https://twitter.com/annabelleyoon">@annabelleyoon</a> and Michael Mrowetz(<a href="https://twitter.com/MicMro">Twitter</a>/<a href="https://github.com/micmro">github</a>)
    </div> 
    <a href="#main-header" id="link-back-to-top" class="grid_2 func_back-to-top">Back to top<i>»</i></a>
    
    <div id="second-row">
      <div class="grid_2"><div class="fb-like" data-send="false" data-href="http://stylify.herokuapp.com" data-layout="button_count" data-width="100" data-show-faces="true" data-font="arial"></div>

      </div></div>
      <div class="grid_2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://stylify.herokuapp.com" data-text="Quickly create a style guide of an existing site with Stylify Me">Tweet</a></div>
      <a href="#" id="link-donate" class="grid_2">Donate »</a>
    <div>
    
  <div>
</footer>
<div id="loadingOverlay" class="hide">
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="javascripts/jquery-1.9.1.min.js"><\/script>')</script>
<script src="javascripts/stylify.js"></script>
<div id="fb-root"></div>
<script src="//connect.facebook.net/en_GB/all.js#xfbml=1&appId=507703755933652"></script>
<script src="//platform.twitter.com/widgets.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39044475-1']);
  _gaq.push(['_setDomainName', 'herokuapp.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);


    FB.Event.subscribe('edge.create', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'like', targetUrl]);
    });
    FB.Event.subscribe('edge.remove', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'unlike', targetUrl]);
    });
    FB.Event.subscribe('message.send', function(targetUrl) {
      _gaq.push(['_trackSocial', 'facebook', 'send', targetUrl]);
    });

     function trackTwitter(intent_event) {
      if (intent_event) {
        var opt_pagePath;
        if (intent_event.target && intent_event.target.nodeName == 'IFRAME') {
              opt_target = extractParamFromUri(intent_event.target.src, 'url');
        }
        _gaq.push(['_trackSocial', 'twitter', 'tweet', opt_pagePath]);
      }
    }

    //Wrap event bindings - Wait for async js to load
    twttr.ready(function (twttr) {
      //event bindings
      twttr.events.bind('tweet', trackTwitter);
    });

  })();

</script>
</body>
</html>