
<footer id="main-footer">
  <div class="container_16">
	 <div class="grid_14">
		Extracted with StylifyMe.com - Created by Annabelle Yoon and Michael Mrowetz
	 </div> 
	</div>
</footer>

</body>
</html>