<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%- title %></title>
	<meta name="description" content="Stylify was created to help designers quickly gain an overview of the style guide of a site, including colours, fonts, sizing and spacing.">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
<!--[if lt IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->