<% include header.ejs %>
<header id="main-header">
  <form id="form-stylify" class="container_16">
      <div class="grid_9">
        <input type="url" autofocus="autofocus" required="required"  id="input-stylify" placeholder="enter website e.g. www.bbc.co.uk" />
        <button type="submit" id="btn-stylify">Stylify Me</button>
      </div>

      <a id="link-about"  class="grid_4" href="/about">About Stylify Me »</a>
  </form>
</header>
<div id="main-holder" class="container_16">
  <div class="grid_16">
    <button id="btn-download" class="action-button" disabled="disabled" title="not implemented yet"><i></i>Download</button>
    <button id="btn-print" class="action-button">Print</button>
    <h2>Colours and patterns</h2>    
  </div>
  <div class="grid_2">    
    <figure id="color-1" class="swatch-wrap">
      <div class="swatch-holder"></div>
      <figcaption>
        HEX
        <span class="colour-hex">#</span>
      </figcaption>
    </figure>
  </div>
    <div class="grid_2">    
    <figure id="color-2" class="swatch-wrap">
      <div class="swatch-holder"></div>
      <figcaption>
        HEX
        <span class="colour-hex">#</span>
      </figcaption>
    </figure>
  </div>
  <div class="grid_2">    
    <figure id="color-3" class="swatch-wrap">
      <div class="swatch-holder"></div>
      <figcaption>
        HEX
        <span class="colour-hex">#</span>
      </figcaption>
    </figure>
  </div>
  <div class="grid_2">    
    <figure id="color-4" class="swatch-wrap">
      <div class="swatch-holder"></div>
      <figcaption>
        HEX
        <span class="colour-hex">#</span>
      </figcaption>
    </figure>
  </div>
  <div class="grid_2">    
    <figure id="color-5" class="swatch-wrap">
      <div class="swatch-holder"></div>
      <figcaption>
        HEX
        <span class="colour-hex">#</span>
      </figcaption>
    </figure>
  </div>
  <div class="grid_2">    
    <figure id="color-6" class="swatch-wrap">
      <div class="swatch-holder"></div>
      <figcaption>
        HEX
        <span class="colour-hex">#</span>
      </figcaption>
    </figure>
  </div>
  <div class="grid_2">    
    <figure id="color-7" class="swatch-wrap">
      <div class="swatch-holder"></div>
      <figcaption>
        HEX
        <span class="colour-hex">#</span>
      </figcaption>
    </figure>
  </div>
  <div class="grid_2">    
    <figure id="color-8" class="swatch-wrap">
      <div class="swatch-holder"></div>
      <figcaption>
        HEX
        <span class="colour-hex">#</span>
      </figcaption>
    </figure>
  </div>


  <h2 class="grid_16">Typography</h2>

  <dl class="grid_16 grid-dl">
    <dt id="result-header-1-dt" class="first"><strong>Header 1:</strong> <span>Font, Style, Size, Leading, Colour</span></dt>
    <dd id="result-header-1-dd" class="first"><span>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</span></dd>

    <dt id="result-header-2-dt"><strong>Header 2:</strong> <span>Font, Style, Size, Leading, Colour</span></dt>
    <dd id="result-header-2-dd"><span>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</span></dd>

    <dt id="result-header-3-dt"><strong>Header 3:</strong> <span>Font, Style, Size, Leading, Colour</span></dt>
    <dd id="result-header-3-dd"><span>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</span></dd>

    <dt id="result-header-4-dt"><strong>Header 4:</strong> <span>Font, Style, Size, Leading, Colour</span></dt>
    <dd id="result-header-4-dd"><span>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</span></dd>

    <dt id="result-header-5-dt"><strong>Header 5:</strong> <span>Font, Style, Size, Leading, Colour</span></dt>
    <dd id="result-header-5-dd"><span>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</span></dd>

    <dt id="result-header-6-dt"><strong>Header 6:</strong> <span>Font, Style, Size, Leading, Colour</span></dt>
    <dd id="result-header-6-dd"><span>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</span></dd>



    <dt id="result-body-dt" class="last"><strong>Body:</strong> <span>Font, Style, Size, Leading, Colour</span></dt>
    <dd id="result-body-dd" class="last"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id tempus tellus. Ut consectetur congue turpis, nec vestibulum nulla ullamcorper a. Cras congue tellus et diam blandit porttitor. Aliquam elit orci, interdum vitae hendrerit id, semper non nisl. Quisque faucibus iaculis mauris, id lobortis lacus consequat sit amet. Phasellus arcu nunc, iaculis mollis sodales ut, blandit eget mauris. Nulla adipiscing feugiat sagittis. Mauris vel semper est.</span></dd>

    <dt id="result-links-dt"><strong>Links (Header #)</strong></dt>
    <dd id="result-links-dd"><span>Example Link</span></dd>

    <!--<dt id="result-hover-dt"><strong>Hover (Header #)</strong></dt>
    <dd id="result-hover-dd"><span>Example Link</span></dd>

    <dt id="result-visited-dt" class="last"><strong>Visited (Header #)</strong></dt>
    <dd id="result-visited-dd" class="last"><span>Example Link</span></dd>-->

  </dl>



  <h2 class="grid_16">Image Dimensions</h2>

  <div id="image-holder-1" class="image-holder grid_5">
    <img src="./images/white.png" width="100%" />
    <span>00 x 00 px</span>
  </div>
  <div id="image-holder-2" class="image-holder grid_5">
    <img src="./images/white.png" width="100%" />
    <span>00 x 00 px</span>
  </div>
  <div id="image-holder-3" class="image-holder grid_6">
    <img src="./images/white.png" width="100%"/>
    <span>00 x 00 px</span>
  </div>


  <h2 class="grid_16">Homepage</h2>
  
  <div id="homepage-img-holder" class="grid_16">
    <svg width="100%" height="600px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
         <line x1="1" y1="1" x2="938" y2="599" style="stroke-width: 1; stroke: #ccc;"/>
         <line x1="939" y1="1" x2="0" y2="599" style="stroke-width: 1; stroke: #ccc;"/>
    </svg>
  </div>

</div>
<% include footer.ejs %>